<!-- <h1 class="bg-primary p-4">Basic</h1>
<div class=" m-4">
    <div >
        <div>
            <h2 class="bg-warning p-2">This is for  ts to html or template becoz angular html is dynamic</h2>

            <app-products></app-products>

            <hr>

        <section>
            <h2 class="bg-warning p-2">This is for "*ngFor"</h2>

            <ul class="list-group">
                <li class="list-group-item" *ngFor="let skill of skills">
                    I Love {{skill}}
                </li>
            </ul>
            <hr>
                  <h2>Item list</h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger" *ngFor="let item of items">

                    There are {{item}}
                </li>

            </ul>
            <hr>
            <h2>
                List of Prime Ministers of India
            </h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info" *ngFor="let pm of PrimeMinister">
                    {{pm}}
                </li>
            </ul>
            <h2>The famous Indian books</h2>
            <ul class="list-group-item">
                <li class="list-group-item list-group-item-success" *ngFor="let book of books">

                    {{book}}

                </li>
            </ul>
            
            
            <hr>
            <h2>List of Marvel Cinematic Universe films</h2>


           <ul class="list-group">
            <li class="list-group-item list-group-item-dark" *ngFor="let flim of flims">
                {{flim}}

            </li>
           </ul>

        </section>






            <button class="btn btn-primary">
                click
            </button>

        </div>
        <div>
        <h2 class="text-center bg-success p-4 mt-4 text-white">
            This is for *ngFor with table
       </h2>

            <app-text></app-text>
        </div>
    </div>

</div>

<div>
  <app-singlefile></app-singlefile>
</div>

<div>
    <app-databinding></app-databinding>
</div> -->
<div class="container mt-4">
    <div class="row">
        <app-products></app-products>

    </div>
</div>